{
	frankenphp {
		php_ini post_max_size 50M
		php_ini upload_max_filesize 50M
	}
}

:8080 {
	encode zstd gzip

	handle {
		root * public/

		php_server {
			hot_reload resources/views/**/*{.blade.php}
		}
	}
}
